each post, index in posts
	//- Not the most recent post
	if index != 0
		.voices-audience-blog-archive-container
			.voices-audience-blog-archive-col-1
				.voices-audience-blog-archive-col-1-date 
					.voices-audience-blog-archive-col-1-date-row-1= short_months[post.date.getMonth()]
					.voices-audience-blog-archive-col-1-date-row-2= post.date.getDate()
			.voices-audience-blog-archive-col-2
				.voices-audience-blog-archive-col-2-image-container
					img#voices-audience-blog-archive-col-2-image(src=post.media.image[post.media.primary_image].urls.archive alt='Companion image')
			.voices-audience-blog-archive-col-3
				.voices-audience-blog-archive-col-3-container
					.voices-audience-blog-archive-col-3-title
						a(href='/blog/' + post._id)= post.info.title
					.voices-audience-blog-archive-col-3-location= post.info.location
					.voices-audience-blog-archive-col-3-description= post.info.description
					.voices-audience-blog-archive-col-3-readmore
						a(href='/blog/' + post._id) [READ MORE]