extends ../../template

block head
	include admin_header

block content
	.row
		.col-xs-2
		.col-xs-8
			.row
				h1 Hello Christine :) This is the Voices from Ghana dashboard. Have a great trip!
			.row
				a(href='/admin/blog/') + New post
			.row
				table.table
					thead
						tr
							th Title
							th Description
							th Tags
							th Location
							th Time created
							th Actions
					tbody
						each post in posts
							tr
								td
									a(href='/admin/blog/' + post._id)= post.info.title
								td= post.info.description
								td= post.info.tags
								td= post.info.location
								td= post.timestamp
								td
									form(action='/admin/blog/delete/' + post._id method='post')
										button.btn.btn-primary(type='submit') Delete
		.col-xs-2