extends ../../template

block head
	include admin_header

block content
	.container
		.row
			.form-group
				label.col-xs-2 Title of blog post
				.col-xs-10= post.info.title
		.row
			.form-group
				label.col-xs-2 Text in blog post
				.col-xs-10= post.info.text
		.row
			//- TODO: Don't need post id anymore, remove here, in JS, and in Uploader.js
			input.hidden#voices-admin-media-post-id(value=post._id)
		.row
			.form-group
				label.col-xs-2 Preview Image
				.col-xs-10
					input.form-control#voices-admin-media-primary-image-input(type="number")
					button.btn.btn-default#voices-admin-media-primary-image-button(type="button" href="/admin/crop/") Submit
					p.help-block Select the photo number you would like to be displayed on the home page. When you hit submit, you will be taken to a page to crop the image you\'ve chosen. You can still come back to this page.
		.row
			each image in post.media.image
				.col-xs-4
					if image.urls.original === ''
						img.voices-admin-media-image(src='/images/admin/media-upload.png')
					else
						img.voices-admin-media-image(src=image.urls.original alt='Image from blog post')
					//- TODO: Only allow image files to be uploaded
					input.hidden.voices-admin-media-image-id(value=image._id)
					input.voices-admin-media-image-file-chooser(type='file' accept='image/*')
					button.voices-admin-media-image-submit(type='button') Upload
					p.help-block.voices-admin-media-image-help-block
		script.
			// Takes user to image crop
			(function() {
				var post_id = $('#voices-admin-media-post-id').val();
				var $input = $('#voices-admin-media-primary-image-input'),
					$btn = $('#voices-admin-media-primary-image-button');
				$btn.attr('disabled');
				$btn.click(function(e) {
					// TODO error handling
					// must be a number
					// number must be greater than zero and 
					// less than the number of images
					var val = $input.val();
					function is_number(num) {
						return !isNaN(num);
					}
					if(is_number(val)) {
						var href = $btn.attr("href")  + post_id + '/' + val;
						window.location.href = href;
					}
				});
			})();
		script(src="https://sdk.amazonaws.com/js/aws-sdk-2.0.8.min.js")
		script(src='/js/admin/media/AWSUploader.js')
		script(src='/js/admin/media/Uploader.js')
		script.
			(function() {
				// Handles all media uploads
				var aws = AWSUploader('voices-from-ghana-test', 'AKIAJGSNN2L5MQLAT2MA', 'u12av9CFJSYOf9VYqQ9DnzYMjHe8ZqQVPyr66mWl');
				var uploader = Uploader(aws);
				var $image_ids = $('.hidden.voices-admin-media-image-id'),
					$image = $('.voices-admin-media-image'),
					$file_choosers = $('.voices-admin-media-image-file-chooser'),
					$buttons = $('.voices-admin-media-image-submit'),
					$helps = $('.voices-admin-media-image-help-block'),
					post_id = $('#voices-admin-media-post-id').val();
				for(var m = 0; m < $file_choosers.length; m++) {
					uploader.register(post_id, $($image_ids[m]).val(), $file_choosers[m], $buttons[m], $helps[m], $image[m], show_media);
				}
				function show_media(media, url) {
					$media = $(media);
					// TODO allow handling for video and audio
					$media.attr('src', url)
				}
				
				// TODO handle other media types
			})();
